@font-face {
  font-family: "Inter";
  src: local("Inter"), url(".././assets/fonts/Inter-Light.ttf");
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(".././assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(".././assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(".././assets/fonts/Inter-SemiBold.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  color: #1E1D2E;
  margin: 0 0 15px 0;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  color: #1E1D2E;
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 14px;
  color: #1E1D2E;
}

ul {
  padding-left: 25px;
}

li {
  font-weight: 400;
  font-size: 14px;
}

.light {
  color: #606483;
}

.green {
  color: #2F9626;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.back-image,
.person__icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  margin-top: 40px;
}

.container-resume {
  display: flex;
  gap: 38px;
}

.resume {
  max-width: 710px;
  width: 100%;
}

.person__img-avatar {
  width: 100px;
  height: 100px;
}

.person__gender {
  background-image: url(".././assets/svg/female.svg");
  width: 20px;
  height: 20px;
}

.person__time {
  background-image: url(".././assets/svg/time.svg");
  width: 18px;
  height: 18px;
}

.person__icon--file {
  background-image: url(".././assets/svg/file.svg");
  width: 24px;
  height: 24px;
}

.person__icon--download {
  background-image: url(".././assets/svg/download.svg");
  width: 24px;
  height: 24px;
}

.person__icon--printer {
  background-image: url(".././assets/svg/printer.svg");
  width: 24px;
  height: 24px;
}

.person__icon {
  cursor: pointer;
}

.person__title {
  display: flex;
  gap: 20px;
}

.person__user-name {
  -ms-grid-row-align: left;
      align-self: left;
}

.person__location,
.person__update {
  display: flex;
  align-items: center;
}

.person__icons {
  display: flex;
  justify-content: space-between;
  gap: 23px;
  margin-left: auto;
  margin-right: 0;
}

.person__additional-info {
  width: 100%;
  display: flex;
  gap: 20px;
}

.person__possibility--text-title {
  max-width: 165px;
  width: 100%;
}